groups:
- name: userservice-alerts
  rules:

  - alert: UserserviceDown
    expr: up{job="userservice"} == 0
    for: 2m
    labels:
      severity: critical
    annotations:
      summary: "Userservice is DOWN"
      description: "Prometheus cannot scrape userservice for more than 2 minutes."

  - alert: UserserviceHigh5xxErrorRate
    expr: sum(rate(http_server_requests_seconds_count{status=~"5.."}[1m])) > 0
    for: 1m
    labels:
      severity: warning
    annotations:
      summary: "Userservice has HTTP 5xx errors"
      description: "Userservice is returning HTTP 5xx responses."

