apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: suryadasari31-dev
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    rule_files:
      - /etc/prometheus/rules/*.yaml

    scrape_configs:
      - job_name: "userservice"
        metrics_path: /actuator/prometheus
        static_configs:
          - targets:
              - userservice:9002
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: suryadasari31-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:v2.49.1
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: config
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
            - name: rules
              mountPath: /etc/prometheus/rules
            - name: data
              mountPath: /prometheus
      volumes:
        - name: config
          configMap:
            name: prometheus-config
        - name: rules
          configMap:
            name: prometheus-rules
        - name: data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: suryadasari31-dev
spec:
  selector:
    app: prometheus
  ports:
    - name: http
      port: 9090
      targetPort: 9090
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: prometheus
  namespace: suryadasari31-dev
spec:
  to:
    kind: Service
    name: prometheus
  port:
    targetPort: http
  tls:
    termination: edge


